<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
    <link rel="stylesheet" href="./../static/prediction.css">
</head>
<body>
    <!-- Header -->
    <!-- <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero"><img src="./../static/logo1.png"></a>
                </div>
                <div class="nav-list">
                     <div class="hamburger"><div class="bar"></div></div>
                     <ul>
                        <li><a href="#hero" data-after="Home"> Home </a></li>
                        <li><a href="#about" data-after="About">About </a></li>
                        <li><a href="#team" data-after="Team"> Team </a></li>
                        <li><a href="{%url 'prediction'%}" data-after="Prediction">Prediction</a></li>
                     </ul>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End Header -->

    <!-- Prediction Page -->
    <section id="prediction">
        <div class="prediction container">
            <h2 class="form-title"> Enter the details of car </h2>
            <form action="#">
                <div class="user-input">
                    <div class="user-input-box">
                        <label for="carName"> Name of the car</label>
                        <select class="select-input">
                            <option value=""></option>
                            <option value="Maruti 800"> Maruti 800 </option>
                            <option value="AltoLX"> AltoLX </option>
                            <option value="Mahindra"> Mahindra </option>
                            <option value="Bolero"> Bolero </option>
                            <option value="Celeriozxi"> Celeriozxi </option>
                            <option value="Isports"> Isports </option>
                            <option value="Hyundaii"> Hyundaii </option>
                        </select>
                    </div>
                </div>
                <div class="user-input">
                    <div class="user-input-box">
                        <label for="carModel"> Model of the car</label>
                        <select class="select-input">
                            <option value=""></option>
                            <option value="2010"> 2010 </option>
                            <option value="2011"> 2011 </option>
                            <option value="2012"> 2012 </option>
                            <option value="2013"> 2013 </option>
                            <option value="2014"> 2014 </option>
                            <option value="2015"> 2015 </option>
                            <option value="2016"> 2016 </option>
                        </select>
                    </div>
                </div>
                <div class="user-input">
                    <div class="user-input-box">
                        <label for="carGear"> Gear box</label>
                        <select class="select-input">
                            <option value=""></option>
                            <option value="Manual"> Manual </option>
                            <option value="Automatic"> Automatic </option>
                        </select>
                    </div>
                </div>
                <div class="user-input">
                    <div class="user-input-box">
                        <label for="carFuel"> Fuel Type </label>
                        <select class="select-input">
                            <option value=""></option>
                            <option value="Petrol"> Petrol </option>
                            <option value="Diesel"> Diesel </option>
                        </select>
                    </div>
                </div>
                <div class="user-input">
                    <div class="user-input-box">
                        <label for="carKm"> Kilometer Driven </label>
                        <input type="number"
                                id="carKm"
                                name="carKm"
                        />
                    </div>
                </div>
                <div class="form-submit-btn">
                    <input type="submit" value="Predict Price">
                </div>
            </form>
        </div>
    </section> 
    <!-- End Prediction Page -->
</body>
</html>